
@keyframes revealWord {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  20% {
    opacity: 1; 
    transform: translateY(0); 
  }
  80% {
    opacity: 1; 
    transform: translateY(0); 
  }
  100% {
    opacity: 0; 
    transform: translateY(-20px);
  }
}

/* Apply animation to the word inside each word-animation class */
.word-animation {
  animation: revealWord 5s linear infinite; /* Use revealWord animation */
  animation-delay: 0s, 3s; /* Delay first and second word */
}

